DATABASE_URL="file:./dev.db"
DOCUMENT_IMAGE_DIR="./data/document-images"
AUTH_SECRET="replace-with-a-long-random-secret"
SESSION_TTL_SECONDS="604800"
AUTH_PROVIDER="local"
LDAP_AUTH_METHOD="node"
LDAP_URL=""
LDAP_BASE_DN=""
LDAP_BIND_DN=""
LDAP_BIND_PASSWORD=""
LDAP_USER_FILTER="(mail={{email}})"
LDAP_USER_DN_TEMPLATE=""
LDAP_USER_BIND_ATTRIBUTE=""
LDAP_EMAIL_ATTRIBUTE="mail"
LDAP_NAME_ATTRIBUTE="displayName"
LDAP_CONNECT_TIMEOUT_MS="5000"
LDAP_TIMEOUT_MS="5000"
LDAP_TLS_REJECT_UNAUTHORIZED="true"
APP_TIMEZONE="Asia/Tehran"
APP_BASE_URL="http://localhost:3000"
BALE_BOT_TOKEN=""
BALE_BOT_USERNAME=""
BALE_SYNC_SECRET=""
NEXT_PUBLIC_APP_NAME="Nobino"
